@import url("https://fonts.googleapis.com/css2?family=Meie+Script&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*
    Common Styles
*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.dFlex {
  display: flex;
}

.topbar {
  background-color: #2c3e50;
  color: white;
  padding: 10px 0;
}
.top-right {
  margin-left: auto;
}

nav {
  padding: 10px 0;
}

.vCenter {
  align-items: center; /* vertical center */
}

.logo {
  font-size: 30px;
  gap: 10px;

  img {
    height: 50px;
  }
}
.main-navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 30px;
  font-size: 20px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #fb0;
    }
  }
}

.banner-section {
  img {
    width: 100%;
    aspect-ratio: 3 / 1;
    /* height: 500px; */
    object-fit: cover;
  }
}

.notice-board {
  min-width: 25%;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;

  h3 {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px;
    margin: 0;
  }

  marquee {
    min-height: 250px;
  }
}

.about-section {
  padding: 60px 0;

  h5,
  h1 {
    margin: 0;
  }

  .dFlex {
    gap: 20px;
  }
  .about {
    flex-grow: 1;
  }
}

.read_more_btn {
  padding: 10px 30px;
  background-color: #fff;
  color: #2c3e50;
  border: 2px solid #2c3e50;
  border-radius: 30px 5px;
  font-size: 16px;

  &:hover {
    background-color: #2c3e50;
    color: #fff;
    border-radius: 5px 30px;
  }
}

.facility-section {
  padding: 60px 0;

  h3,
  p {
    text-align: center;
  }
}

.facility-group {
  display: flex;
  flex-wrap: wrap;

  .facility {
    width: 25%;
    text-align: center;
    padding: 20px;

    .icon {
      font-size: 48px;
      color: #2c3e50;
    }
    h3 {
      color: #2c3e50;
    }
  }
}

footer {
  background-color: black;
  color: #fff;
  padding: 100px 0;
}

#breadcrumb {
  background-color: #2c3e50;
  text-align: center;
  padding: 50px 0;
  font-size: 20px;
  color: white;

  a {
    color: white;
  }
}

main {
  padding: 100px 0;
  font-family: "Savate", sans-serif;
  font-size: 18px;

  h1 {
    font-family: "Meie Script", cursive;
    font-size: 60px;
  }
}

.contact-col {
  width: 50%;
  padding: 10px 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-group {
  margin-bottom: 30px;
}
